@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width:100%;
    height: 100%; 
}

body {
    font-family: 'MabinogiClassicR';
    background-color: #C7EBFB;
    color: black;
}

.chu_title{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.main{
    text-align: center;
    margin-left: 700px;
    margin-top: -50px;
    font-size: 25px;
}

.main span{
    font-size: 70px;
}

.question .q_title{
    font-size: 40px;
}

.question .q_input{
    margin-top: 70px;
}

.start_b{
    margin-top: 80px;
    margin-bottom: 80px;
    
    width: 460px;
    height: 56px;
    border-radius: 50px;
    background-color: #FFD966;
    font-family: 'MabinogiClassicR';
    font-size: 30px;
    cursor: pointer;
    
    background: linear-gradient(
        45deg,
        #F0FFFF,
        #ADD8E6,
        #96DED1,
        #40E0D0,
        #0096FF,
        #0000FF
    );
    background-size: 300% 300%;
}

.start_b:hover{
    transform: scale(1.2);
    animation: change_color 3s ease infinite;
}

@keyframes change_color{
    0% {
        background-position: 0% 50%;  
    }
    50%{
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

.answer{
    display: none;
    font-size: 40px;
    margin-left: 265px;
}

.moon{
    position:relative;
    margin-left: 100px;
    margin-top: -100px;
    margin-bottom: -10px;
    z-index: 999;
}

.map{
    width: 10%;
    height: 10%;
}

.r_map{
    margin-top: -30px;
    margin-left: 30px;
}

.metropolitan button{
    width: 114px;
    height: 31px;
    opacity: 0; 
}

.서울{
    position: absolute;
    top: 260px;
    left: 105px;
    cursor: pointer;
}
.인천{
    position: absolute;
    top: 431px;
    left: 57px;
    cursor: pointer;
}
.대전{
    position: absolute;
    top: 653px;
    left: 134px;
    cursor: pointer;
}
.광주{
    position: absolute;
    top: 856px;
    left: 43px;
    cursor: pointer;
}
.대구{
    position: absolute;
    top: 554px;
    left: 762px;
    cursor: pointer;
}
.울산{
    position: absolute;
    top: 695px;
    left: 800px;
    cursor: pointer;
}
.부산{
    position: absolute;
    top: 795px;
    left: 805px;
    cursor: pointer;
}

.state button{
    width: 90px;
    height: 40px;
    opacity: 0;
}
.경기도{
    position: absolute;
    top: 372px;
    left: 355px;
    cursor: pointer;
}
.강원도{
    position: absolute;
    top: 293px;
    left: 495px;
    cursor: pointer;
}
.충청남도{
    position: absolute;
    top: 525px;
    left: 314px;
    cursor: pointer;
}
.충청북도{
    position: absolute;
    top: 455px;
    left: 428px;
    cursor: pointer;
}
.경상북도{
    position: absolute;
    top: 538px;
    left: 553px;
    cursor: pointer;
}
.경상남도{
    position: absolute;
    top: 740px;
    left: 497px;
    cursor: pointer;
}
.전라북도{
    position: absolute;
    top: 673px;
    left: 350px;
    cursor: pointer;
}
.전라남도{
    position: absolute;
    top: 815px;
    left: 320px;
    cursor: pointer;
}

footer{
    text-align: end;
}